*{
    margin-top: 45px;
    margin-left: 50px;  
}
.box{
    height: 300px;
    width: 300px;
    border-radius: 10%;
    background-color: rgb(20, 165, 104);
}
.box:hover{
  /* border: 1px solid aqua;*/
}

.login{
    font-family: impact;
    font-size: 1.7rem;
    margin-left: 110px;
}
.box2{
    height: 30px;
    width: 80px;
    background-color: aqua;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
.box2:hover{
    border: 1px solid aqua;
}
.input{
    background-color: rgb(211, 230, 222);
    border: none;
    border-radius: 5%;
}
